$font-lato: 'Lato', sans-serif;

$font-unna: 'Unna', serif;

$font-open-sans: 'Open Sans', sans-serif;

$font-vollkorn: 'Vollkorn', serif;

$font-arvo: 'Arvo', serif;

$font-noto-sans: 'Noto Sans', sans-serif;

$font-abril-fatface: 'Abril Fatface', sans-serif;
