/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#project-one {
  height: 700px;
  position: relative;
  width: 100%;
  background: url("../img/forest-fire.png") no-repeat center;
}

#series-one {
  padding-top: 1em;
  text-align: center;
}

#week-one-font-styles {
  bottom: 0;
  padding-bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

#week-one-font-styles a {
  font-weight: bold;
}

#first-quote {
  color: #03020f;
  font-family: 'Unna', serif;
  font-size: 3em;
  line-height: 1.3em;
  padding: 3.5em 2em 0 2em;
}

h3 {
  font-family: 'Lato', sans-serif;
  line-height: 1.3em;
  text-transform: uppercase;
}

a {
  color: #1f1f74;
  text-decoration: none;
}

#water {
  color: #0d0d4a;
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 3.7em;
  margin-left: 0;
  padding-top: 0.2em;
}

@media screen and (max-width: 960px) {
  #first-quote {
    font-size: 2.4em;
    padding: 5em 1em 0 1em;
  }

  #water {
    font-size: 3em;
  }
}
@media screen and (max-width: 700px) {
  #first-quote {
    font-size: 1.7em;
    padding: 7em 0.74em 0 0.74em;
    text-align: center;
  }

  #water {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
#project-two {
  height: 700px;
  position: relative;
  width: 100%;
  background-color: #f6f6e1;
}

#series-two {
  padding-top: 1em;
  text-align: center;
}

#week-two-font-styles {
  bottom: 0;
  padding-bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

#week-two-font-styles a {
  color: #f41cbe;
  font-weight: bold;
}

#first-line-of-quote {
  background-color: #f41cbe;
  color: #141714;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  transform: rotate(5deg);
  transform-origin: top left;
}

#second-line-of-quote {
  background-color: #30b109;
  color: #141714;
  font-family: 'Vollkorn', serif;
  font-size: 80px;
  margin: 130px;
  padding: 10px;
  text-align: center;
  transform: rotate(-2deg);
}

#third-line-of-quote {
  background-color: #0a9fc7;
  color: #141714;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin: 30px;
  padding: 5px;
  text-align: center;
  transform: rotate(10deg);
}

#steve {
  font-family: 'Vollkorn', serif;
  font-weight: bold;
}

@media screen and (max-width: 916px) {
  #first-line-of-quote {
    font-size: 35px;
    transform: rotate(-5deg);
    transform-origin: top right;
  }

  #second-line-of-quote {
    font-size: 60px;
    margin: 120px;
    transform: rotate(2deg);
  }

  #third-line-of-quote {
    font-size: 40px;
    margin: 10px;
    transform: rotate(-6deg);
  }
}
@media screen and (max-width: 738px) {
  #first-line-of-quote {
    font-size: 30px;
    transform: rotate(-5deg);
  }

  #second-line-of-quote {
    font-size: 45px;
    margin: 80px;
    transform: rotate(2deg);
  }

  #third-line-of-quote {
    font-size: 30px;
    margin: 10px;
    transform: rotate(-6deg);
  }
}
#project-three {
  height: 700px;
  position: relative;
  width: 100%;
  background-color: #39758F;
}

#series-three {
  padding-top: 1em;
  text-align: center;
}

#week-three-font-styles {
  bottom: 0;
  padding-bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

#week-three-font-styles a {
  color: #F0E3D6;
  font-weight: bold;
}

#third-quote {
  background-color: #243243;
  height: 30em;
  margin: auto;
  margin-top: 3em;
  width: 70%;
}

.arvo-font {
  background-color: #455D6B;
  color: #F0E3D6;
  display: inline-flex;
  font-family: 'Arvo', serif;
  font-size: 4.3em;
  line-height: 1.5em;
  margin: 0.3em 0.2em 0.3em 0.2em;
  padding: 0.2em;
}

.noto-sans-font {
  background-color: #714853;
  color: #F0E3D6;
  display: inline-flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: 3em;
  line-height: 1.3em;
  margin: 0.35em;
  padding: 0.2em;
}

@media screen and (max-width: 1275px) {
  .arvo-font {
    font-size: 3em;
    margin: 1em 0 0 0.5em;
  }

  .noto-sans-font {
    font-size: 3em;
    line-height: 1em;
    margin: 1em 0 0 0.5em;
  }
}
@media screen and (max-width: 1040px) {
  .arvo-font, .noto-sans-font {
    font-size: 2.5em;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 710px) {
  #third-quote {
    width: 75%;
  }

  .arvo-font, .noto-sans-font {
    font-size: 1.8em;
    margin: 1em 0 0 0.8em;
  }
}
#project-four {
  height: 700px;
  position: relative;
  width: 100%;
}

#series-four {
  padding-top: 1em;
  text-align: center;
}

#week-four-font-styles {
  bottom: 0;
  padding-bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
