#project-one {
  background: url('../img/forest-fire.png') no-repeat center;
  height: 700px;
  position: relative;
  width: 100%;
}

#series-one {
  padding-top: 1em;
  text-align: center;
}

#week-one-font-styles {
  bottom: 0;
  padding-bottom: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

#week-one-font-styles a {
  font-weight: bold;
}

#first-quote {
  color: #03020f;
  font-family: 'Unna', serif;
  font-size: 3em;
  line-height: 1.3em;
  padding: 3.5em 2em 0 2em;
}

h3 {
  font-family: 'Lato', sans-serif;
  line-height: 1.3em;
  text-transform: uppercase;
}

a {
  color: #1f1f74;
  text-decoration: none;
}

#water {
  color: #0d0d4a;
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 3.7em;
  margin-left: 0;
  padding-top: 0.2em;
}

@media screen and (max-width: 960px) {
  #first-quote  {
    font-size: 2.4em;
    padding: 5em 1em 0 1em;
  }
  #water {
    font-size: 3em;
  }
}

@media screen and (max-width: 700px) {
  #first-quote  {
    font-size: 1.7em;
    padding: 7em 0.74em 0 0.74em;
    text-align: center;
  }
  #water {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
